<div data-page="satyalancana30tahun" class="page navbar-fixed">
    <div class="navbar" style="background-color:#088378;">
        <div class="navbar-inner ">
            <div class="left sliding">
                <a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a>
            </div>
            <div class="center font-standard">
                Satyalancana K. S. 30 th
            </div>
            <div class="right sliding">
                <img id="biopns_tambahpegawai" src="img/menu_icon/icon_menu_plus_light.svg" width="40%" alt=""
                     style="vertical-align:middle;margin-right: 0.5em;"/>
                <img id="biopns_refresh" src="img/menu_icon/icon refresh light.svg" width="40%" alt=""
                     style="vertical-align:middle;margin-right: 0.3em"/>
            </div>
        </div>
    </div>
    <a href="view/menu_pegawai/filter-pns.html" class="floating-button" style="background-color: #088378;"
       id="float_marketc">
        <i class="fa fa-sliders dav-cterra"></i>
    </a>

    <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init"
          style="background-color:#088378;">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" id="search_pns"><a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    <!-- Search Bar overlay -->
    <div class="searchbar-overlay"></div>

    <style></style>
    <div class="page-content">
        <div class="content-block-title">
            <div id="cap-market_contructor">Total Data <span id="total_data" class="total_data">0</span> Data.</div>
        </div>  
        <div id="testabelhamdi"></div>

        <!-- <div class="content-block"> -->
        <!--  <div class="card facebook-card" >
         <div class="card-header no-border">
         <div class="facebook-avatar"><img src="img/etc/default_pns.jpg" style="border-radius: 6px;" width="65" height="65"></div>
         <div class="facebook-name">1. Drs. H. M SUAIBMAN S.Pt. M.Si</div>
         <div class="card-content">
         <div class="card-content-inner">
             NIP : (196612092002121000)<br/>
             <i class="fa fa-graduation-cap dav-cterra"></i> : S2 ILMU ADMINISTRASI NEGARA<br/>
             <i class="fa fa-sort-numeric-desc dav-cterra"></i> Eselon : 3B  <br/>
             <i class="fa fa-sort-amount-desc dav-cterra"></i> Pangkat : Pembina Utama Madya IV/d <br/>
             <i class="fa fa-clock-o dav-cterra"></i> MKG : 15 tahun 12 bulan.<br/>
             <i class="fa fa-briefcase dav-cterra"></i> : KEPALA BIDANG PETERNAKAN DAN KESEHATAN
 
         </div>
         </div> 
         </div>
         <div class="card-footer" style="min-width: 0px;min-height: 0px;">
         <a href="#"><i class="fa fa-folder-open dav-cterra"></i> Detail</a>
         <a href="#">
          <i class="fa fa-trash color-red"></i> Hapus   
         </a>
         <a href="#"></a>
         </div>
         </div> -->


        <div id="isi-biodatapns" class="isi-biodatapns"></div>
        <!--   end div productlists market -->


        <div class='pagination page_biodatapns' id="page_biodatapns">
            <a href='#' id='paging-produkseller' data-angka='2'><i class='fa fa-arrow-circle-left dav-cterra'></i></a>
            <a href='#' id='paging-produkseller' data-angka='2' class="active">1</a>
            <a href='#' id='paging-produkseller' data-angka='2'>2</a>
            <a href='#' id='paging-produkseller' data-angka='2'>3</a>
            <a href='#' id='paging-produkseller' data-angka='2'>4</a>
            <a href='#' id='paging-produkseller' data-angka='2'>5</a>
            <a href='#' id='paging-produkseller' data-angka='2'>...</a>
            <a href='#' id='paging-produkseller' data-angka='2'>20</a>
            <a href='#' id='paging-produkseller' data-angka='2'><i class="fa fa-arrow-circle-right dav-cterra"></i></a>
        </div>
        <!-- awal preloader -->
        <div class="dav-outter preloader-biodatapns" id="preloader-biodatapns">
            <div class="dav-loading">
                <font style="margin:0px auto;text-align: center;">Loading</font><br>
                <span class="preloader" style=""></span>
            </div>
        </div>
        <!-- preloader </div>  -->
        <!-- END DIV content block -->
    </div>
</div>


