<div data-page="biodata_pns" class="page navbar-fixed">
    <div class="navbar" style="background-color:#088378;">
        <div class="navbar-inner ">
            <div class="left sliding">
                <a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a>
            </div>
            <div class="center font-standard">
                Biodata PNS
            </div>
            <div class="right sliding">
                <img id="biopns_tambahpegawai" src="img/menu_icon/icon_menu_plus_light.svg" width="45%" alt="" style="vertical-align:middle;margin-right: 0.5em;"/>
                <img id="biopns_refresh" src="img/menu_icon/icon refresh light.svg" width="45%" alt=""
                     style="vertical-align:middle;margin-right: 0.5em"/>
                
            </div>
        </div>
    </div>

    <a href="view/menu_pegawai/filter-pns.html" class="floating-button" style="background-color: #088378;"
       id="float_marketc">
        <i class="fa fa-sliders dav-cterra"></i>
    </a>

    <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init"
          style="background-color:#088378;">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" id="search_pns"><a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    <!-- Search Bar overlay -->
    <div class="searchbar-overlay"></div>

    <style></style>
    
    <div class="page-content">
        <div style="padding-top:5%; margin-left: 10px">
            <form method="POST" action="http://simaku.bkpp.kutaitimurkab.go.id/action/duk_pegawai.php" id="form_duk_opd">
                <input type="hidden" name="domain" class="domain">
                <input type="hidden" name="duk_token" class="duk_token">
                <input type="hidden" name="duk_unit_id" class="duk_unit_id">
                <input type="hidden" name="fUnitkerja" class="fUnitkerja_duk">
                <input type="hidden" name="fUnitkerjaSub" class="fUnitkerjaSub_duk">
                <input type="hidden" name="fNIP" class="fNIP_duk">
                <input type="hidden" name="fNama" class="fNama_duk">
                <input type="hidden" name="fEselon" class="fEselon_duk">
                <input type="hidden" name="fJeniskelamin" class="fJeniskelamin_duk">
                <input type="hidden" name="fAgama" class="fAgama_duk">
                <input type="hidden" name="fPendidikan" class="fPendidikan_duk">
                <input type="hidden" name="fPangkat" class="fPangkat_duk">
                <input type="hidden" name="fBanyakData" class="fBanyakData_duk">
                <input type="hidden" name="fTipePegawai" class="fTipePegawai_duk">
                <input type="hidden" name="fJenisJabatan" class="fJenisJabatan_duk">
                <input type="submit" name="btnSubmit" value="View DUK OPD" id="duk_opd" class="button button-fill button-raised my-bold link external" style="font-size:14px;background-color:#088378;border-radius:25px;color:white;">

                <!-- <a id="duk_struktural" class="button button-fill button-raised my-bold link external"
                   style="font-size:14px;background-color:#088378;border-radius:25px;color:white;">View DUK Struktural</a> -->
            </form>
            
                <!-- <a id="duk_opd" class="button button-fill button-raised my-bold link external"
                   style="float: left; font-size:14px; width: 50%; background-color:#088378;border-radius:25px;color:white;">View DUK OPD</a> -->
            
        </div>
        <div style="padding-top:5%; float: left; width:45%; margin-left: 10px">
            <form method="POST" action="http://simaku.bkpp.kutaitimurkab.go.id/action/duk_pegawai_kab_struktural.php" id="form_duk_struktural">
                <input type="hidden" name="domain" class="domain">
                <input type="hidden" name="duk_token" class="duk_token">
                <input type="hidden" name="duk_unit_id" class="duk_unit_id">
                <input type="hidden" name="fUnitkerja" class="fUnitkerja_duk">
                <input type="hidden" name="fUnitkerjaSub" class="fUnitkerjaSub_duk">
                <input type="hidden" name="fNIP" class="fNIP_duk">
                <input type="hidden" name="fNama" class="fNama_duk">
                <input type="hidden" name="fEselon" class="fEselon_duk">
                <input type="hidden" name="fJeniskelamin" class="fJeniskelamin_duk">
                <input type="hidden" name="fAgama" class="fAgama_duk">
                <input type="hidden" name="fPendidikan" class="fPendidikan_duk">
                <input type="hidden" name="fPangkat" class="fPangkat_duk">
                <input type="hidden" name="fBanyakData" class="fBanyakData_duk">
                <input type="hidden" name="fTipePegawai" class="fTipePegawai_duk">
                <input type="hidden" name="fJenisJabatan" class="fJenisJabatan_duk">
                <input type="submit" name="btnSubmit" value="View DUK Struktural" id="duk_struktural" class="button button-fill button-raised my-bold link external" style="font-size:14px;background-color:#088378;border-radius:25px;color:white;">

                <!-- <a id="duk_struktural" class="button button-fill button-raised my-bold link external"
                   style="font-size:14px;background-color:#088378;border-radius:25px;color:white;">View DUK Struktural</a> -->
            </form>
            
            
        </div>
        <div style="padding-top:5%; float: right; width:45%; margin-right: 10px">
            <form method="POST" action="http://simaku.bkpp.kutaitimurkab.go.id/action/duk_pegawai_kab_fungsional.php" id="form_duk_fungsional">
                <input type="hidden" name="domain" class="domain">
                <input type="hidden" name="duk_token" class="duk_token">
                <input type="hidden" name="duk_unit_id" class="duk_unit_id">
                <input type="hidden" name="fUnitkerja" class="fUnitkerja_duk">
                <input type="hidden" name="fUnitkerjaSub" class="fUnitkerjaSub_duk">
                <input type="hidden" name="fNIP" class="fNIP_duk">
                <input type="hidden" name="fNama" class="fNama_duk">
                <input type="hidden" name="fEselon" class="fEselon_duk">
                <input type="hidden" name="fJeniskelamin" class="fJeniskelamin_duk">
                <input type="hidden" name="fAgama" class="fAgama_duk">
                <input type="hidden" name="fPendidikan" class="fPendidikan_duk">
                <input type="hidden" name="fPangkat" class="fPangkat_duk">
                <input type="hidden" name="fBanyakData" class="fBanyakData_duk">
                <input type="hidden" name="fTipePegawai" class="fTipePegawai_duk">
                <input type="hidden" name="fJenisJabatan" class="fJenisJabatan_duk">
                <input type="submit" name="btnSubmit" value="View DUK Fungsional" id="duk_fungsional" class="button button-fill button-raised my-bold link external" style="font-size:14px;background-color:#088378;border-radius:25px;color:white;">

                <!-- <a id="duk_struktural" class="button button-fill button-raised my-bold link external"
                   style="font-size:14px;background-color:#088378;border-radius:25px;color:white;">View DUK Struktural</a> -->
            </form>
                <!-- <a id="duk_fungsional" class="button button-fill button-raised my-bold link external"
                   style="font-size:14px;background-color:#088378;border-radius:25px;color:white;">View DUK Fungsional</p></a> -->
            
            
        </div>
        <div class="content-block-title" style="width:100%">
            <div id="cap-market_contructor">Total Data <span id="total_data" class="total_data">0</span> Data.</div>
        </div>  
        
        <div id="testabelhamdi"></div>

        <!-- <div class="content-block"> -->
        <!--  <div class="card facebook-card" >
         <div class="card-header no-border">
         <div class="facebook-avatar"><img src="img/etc/default_pns.jpg" style="border-radius: 6px;" width="65" height="65"></div>
         <div class="facebook-name">1. Drs. H. M SUAIBMAN S.Pt. M.Si</div>
         <div class="card-content">
         <div class="card-content-inner">
             NIP : (196612092002121000)<br/>
             <i class="fa fa-graduation-cap dav-cterra"></i> : S2 ILMU ADMINISTRASI NEGARA<br/>
             <i class="fa fa-sort-numeric-desc dav-cterra"></i> Eselon : 3B  <br/>
             <i class="fa fa-sort-amount-desc dav-cterra"></i> Pangkat : Pembina Utama Madya IV/d <br/>
             <i class="fa fa-clock-o dav-cterra"></i> MKG : 15 tahun 12 bulan.<br/>
             <i class="fa fa-briefcase dav-cterra"></i> : KEPALA BIDANG PETERNAKAN DAN KESEHATAN
 
         </div>
         </div> 
         </div>
         <div class="card-footer" style="min-width: 0px;min-height: 0px;">
         <a href="#"><i class="fa fa-folder-open dav-cterra"></i> Detail</a>
         <a href="#">
          <i class="fa fa-trash color-red"></i> Hapus   
         </a>
         <a href="#"></a>
         </div>
         </div> -->


        <div id="isi-biodatapns" class="isi-biodatapns"></div>
        <!--   end div productlists market -->


        <div class='pagination page_biodatapns' id="page_biodatapns">
            <a href='#' id='paging-produkseller' data-angka='2'><i class='fa fa-arrow-circle-left dav-cterra'></i></a>
            <a href='#' id='paging-produkseller' data-angka='2' class="active">1</a>
            <a href='#' id='paging-produkseller' data-angka='2'>2</a>
            <a href='#' id='paging-produkseller' data-angka='2'>3</a>
            <a href='#' id='paging-produkseller' data-angka='2'>4</a>
            <a href='#' id='paging-produkseller' data-angka='2'>5</a>
            <a href='#' id='paging-produkseller' data-angka='2'>...</a>
            <a href='#' id='paging-produkseller' data-angka='2'>20</a>
            <a href='#' id='paging-produkseller' data-angka='2'><i class="fa fa-arrow-circle-right dav-cterra"></i></a>
        </div>

        <!-- awal preloader -->
        <div class="dav-outter preloader-biodatapns" id="preloader-biodatapns">
            <div class="dav-loading">
                <font style="margin:0px auto;text-align: center;">Loading</font><br>
                <span class="preloader" style=""></span>
            </div>
        </div>

        <!-- preloader </div>  -->
        <!-- END DIV content block -->
    </div>
</div>


