<div data-page="cetak" class="page navbar-fixed">
    <div class="navbar" style="background-color:#088378;">
        <div class="navbar-inner ">
            <div class="left sliding">
                <a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a>
            </div>
            <div class="center font-standard">
                Preview
            </div>
        </div>
    </div>
    
    <div class="page-content">
        <div id="test"></div>
    </div>
</div>


